name: Backend CI

on:
  push:
    branches: [ main ]
    paths:
      - "backend/**"

  pull_request:
    branches: [ main ]
    paths:
      - "backend/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin
          cache: maven

      - name: Build & test backend
        working-directory: backend
        run: mvn clean verify -B
